<div class="container-chart container" style="margin-top: 15px">

  <div ng-hide="words" class="center loading-analytics">
    <h2><i class="fa fa-spin fa-circle-o-notch"></i> Loading Top Words...</h2>
  </div>

  <div class="white-panel animate-fade" ng-class="{'fade-in': words}">

    <div class="row">
      <div class="col-xs-12">
        <h3 class="title">Popular Words & Tags (Last 28 Days)</h3>
      </div>
    </div>

    <div class="row" style="height: 400px">
      <words data="words" modal="single" selected="selected" style="height: 400px"></words>
    </div>
  </div>
</div>


<div class="container container-metrics metrics blue">

  <div ng-hide="summary" class="center loading-analytics">
    <h2><i class="fa fa-spin fa-circle-o-notch"></i> Loading Content Summary...</h2>
  </div>

  <div class="white-panel animate-fade" ng-class="{'fade-in': summary}">

    <div class="row">
      <div class="col-xs-12">
        <h3 class="title">Content Summary March 2015</h3>
      </div>
    </div>
    <div class="row center">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-4 right">
            <h1>{{ (summary[0].count | num:0) || "--" }}</h1>
          </div>
          <div class="col-xs-8 left">
            <h4>Posts</h4>
            <h5>
              {{ diff('count', summary) | num:1 }}%
            </h5>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-4 right">
            <h1>{{ (summary[0].sentiment * 100 | num:1) || "--" }}%</h1>
          </div>
          <div class="col-xs-8 left">
            <h4>Sentiment</h4>
            <h5>
              {{ diff('sentiment', summary) | num:2 }}%
            </h5>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-4 right">
            <h1>{{ ((summary[0].density * 100) | num: 1) || "--" }}%</h1>
          </div>
          <div class="col-xs-8 left">
            <h4>Density</h4>
            <h5>{{ diff('density', summary) | num:0 }}%</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row center metrics blue">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-4 right">
            <h1>{{ (summary[0].postlength | num:1) || "--" }}</h1>
          </div>
          <div class="col-xs-8 left">
            <h4>Post Length</h4>
            <h5>{{ diff('postlength', summary) | num:0 }}%</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-4 right">
            <h1>{{ (summary[0].likes | num:0) || "--" }}</h1>
          </div>
          <div class="col-xs-8 left">
            <h4>Likes</h4>
            <h5>{{ diff('likes', summary) | num:0 }}%</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-4 right">
            <h1>{{ (summary[0].comments | num:0) || "--" }}</h1>
          </div>
          <div class="col-xs-8 left">
            <h4>Comments</h4>
            <h5>{{ diff('comments', summary) | num:0 }}%</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container container-pies">

  <div ng-hide="platform" class="center loading-analytics">
    <h2><i class="fa fa-spin fa-circle-o-notch"></i> Loading Platforms & Post Types...</h2>
  </div>

  <div class="white-panel animate-fade" ng-class="{'fade-in': platform}">

    <div class="row">
      <div class="col-xs-12">
        <h3 class="title">Platforms & Post Types</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <voice data="platform" label="platformLabels"></voice>
      </div>
      <div class="col-sm-4">
        <h3>Platform</h3>
        <p>Which voice do you use in posts?</p>
      </div>
      <div class="col-sm-2">
       <voice data="posttype" label="typeLabels"></voice>
     </div>
     <div class="col-sm-4">
       <h3>Post Type</h3>
       <p>Which voice do you use in posts?</p>
     </div>
   </div>
 </div>
</div>

<div class="container container-pies">
<div ng-hide="hourday" class="center loading-analytics">
    <h2><i class="fa fa-spin fa-circle-o-notch"></i> Loading Content Day & Times...</h2>
  </div>

  <div class="white-panel animate-fade" ng-class="{'fade-in': hourday}">

    <div class="row">
      <div class="col-xs-12">
        <h3 class="title">Time & Day</h3>
      </div>
    </div>
    <div class="row" style="height: 400px">
      <timeday data="hourday" options="options.timeseries" modal="single" selected="selected"></timeday>
    </div>
  </div>
</div>