$green: #b1ede0;
$turq: #6edfe8;
$blue: #4ac3e7;
$purple: #81e5f7;
$orange: #e55239;
$white: #FFFFFF;
$gray: #99c5cd;
$grey: $gray;

body, body.light-body { 
  background: #EFEFEF !important;
}

.container { 
  margin-bottom: 30px;
  width: inherit !important;
  margin-bottom: 15px;
  position: relative;
}

.white-panel { 
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(12,71,89,.3);
}

.analytics.white { 
  background: transparent;

  h1,h2,h3,h4,h5 { 
    color: darken($gray, 30);
  }

  h1 { 
    color: $gray;
  }

  a { 
    color: darken($gray, 10);
  }
}

.center { 
  text-align: center;
}

.loading-analytics { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  h2 { 
    color: darken($gray, 20);
  }
}

.right { 
  text-align: right;
}

.left { 
  text-align: left;
}

h3.title { 
  margin: 0;
  color: darken($gray, 20);
  text-align: center;
  border-bottom: solid 1px $gray;
  padding-bottom: 6px;
  margin-bottom: 12px;
}

h3.title-table { 
  margin: 0;
  color: darken($gray, 20);
}
.top-5 { 
  .media { 
    img { 
      width: 14px;
      height: 14px;
      border-radius: 18px;
      background: black;
      display: inline-block;
      margin-right: 4px;
    }

    h4 { 
      color: $gray;
      font-size: 12px;
      text-transform: normal;
    }
  }

  .dot { 
      width: 36px;
      height: 36px;
      border-radius: 18px;
      background: black; 
      opacity: .5;  
  }
}

.circle { 
  opacity: .5;
  transition: all .5s ease;
}
[data-fade="true"] { 
  opacity: .1 !important;
  fill: #AAA !important;
}
.axis line {
  shape-rendering: crispEdges;
  stroke: #777;
  stroke-dasharray: 2,2;
}

.axis .minor line {
  stroke: #777;
  stroke-dasharray: 2,2;
}
.domain { 
  stroke: transparent !important;
  display: none;
}

.pie { 
  .slice-large, .slice-small { 
    transition: all .5s ease;
  }
  [data-fade="true"] { 
    opacity: .1 !important;
    fill: #AAA !important;
  }
}

.modal { 
  .modal-body { 
    .close { 
      z-index: 1000;
      position: absolute;
      top: 3px;
      right: 5px;
    }
  }
}

.post-graph .area { 
  fill: lighten($blue, 30);
}

.followers-graph .area { 
  fill: lighten($blue, 20);
}

.tile { 
  .tile-media { 
    max-height: 400px;
    overflow: hidden;
    text-align: center;
    img { 
      max-width: 100%;
    }
    background: black;
  }

  .tile-meta { 
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .tile-analytics { 
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    border-top: solid 1px $gray;
    p { color: darken($gray, 10); }
    h3 { 
      padding: 0;
      margin: 0;
    }
  }
}

.animate-fade { 
  opacity: 0;
  transition: all 1s;
  &.fade-in { 
    opacity: 1;
  }
}